[Unit]
Description=SoftEther VPN Client
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/vpnclient start
ExecStop=/usr/bin/vpnclient stop
ExecStartPost=/usr/bin/sleep 3
ExecStartPost=/usr/bin/netctl start vpn_tun0
ExecStartPost=/usr/bin/netctl start vpn_tun1
Restart=on-failure

# Hardening
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/opt/softethervpn/vpnclient /opt/hmx-controller/config

[Install]
WantedBy=multi-user.target
